/*css for food menu list*/
div.foodCategory{
  width: 45%;
  float: left;
  margin: 1.5%;
}

div.itemCategory {
  border-left: solid 2px;
  border-color: #444; /*light grey*/
  margin-left: 9%;
  padding-left: 1.5%;
}

div.foodCategory h1, div.foodCategory p{
  color: #caa483; /*Tan*/
}
div.foodCategory:last-child{
  border-right: none;
}
div.Item h3{ /* price tag */
  color: #ccc; /*Gray*/
  padding-right: 10px; 
}
div.Item h2{
  color: #ccc; /*Gray*/
  padding: 0;
}