/*css for food menu list*/
div.foodCategory{
  width: 30%;
  float: left;
  margin: 1.5%;
  border-right: solid 2px;
  border-color: #333; /*Black*/
}
div.foodCategory h1, div.foodCategory p{
  color: #caa483; /*Tan*/
}
div.foodCategory:last-child{
  border-right: none;
}
div.Item h3{
  float: right;
  color: #ccc; /*Gray*/
  padding-right: 10px; 
}
div.Item h2{
  color: #ccc; /*Gray*/
  padding: 0;
}