/*css for food menu list*/
div.foodCategory{
  width: 47%;
  float: left;
  margin: 0 0 1% 2.4%;
}

#aboutPage {
  font-size: 1.25em;
  background-color: #333; /*Black*/
  width: 95.5%;
  margin: 1.5% auto;
  padding: 3ex 0px;
}

#aboutPage p {
    margin: 0;
    width: 50%;
    padding: 0 1em 3ex 1em;
}

#menuNav li {
  width: 25%;
  box-sizing: border-box;
}

#lastElement a {
    border: none;
}

#menuNav ul {
  height: auto;
  background-color: inherit;
  width: 50%;
}

div.Item {
  border-left: solid 2px;
  border-color: #444; /*light grey*/
  margin-left: 9%;
  padding-left: 1.5%;
}

div.foodCategory h1, div.foodCategory p{
  color: #caa483; /*Tan*/
}
div.foodCategory:last-child{
  border-right: none;
}
div.Item h3{ /* price tag */
  color: #ccc; /*Gray*/
  padding-right: 10px; 
}
div.Item h2{
  color: #ccc; /*Gray*/
  padding: 0;
}