/*css for hero image*/
img#hero{
  width: 100%;
  height: 500px;
}
div#heroText{
  background-color: #546045; /*Light Green*/
  width: 25%;
  height: 120px;
  position: absolute;
  left: 72%; /*relative to page left side of div*/
  top: 450px; /*relative to entire page length from top*/
  padding: 10px;
}

/*css for featured*/
div#featured {
  background-color: #546045; /*Light Green*/
  height: 275px
}
div#featured img{
  float:right;
  height: 250px; /*needed for div background color*/
}
div#featured img, div#featured div{
  display: inline-block; 
  padding: 10px 50px;
}
div#featured div{
  width: 50%;
}

/*css for event boxes*/
div.event{
  width: 39%; /*not quite centered but 40% will make them wrape*/
  margin: 2% 5%;
  display: inline-block;
}
div.event img{
  width: 100%;
}
div.event p, div.event h2{
  margin: 0;
  padding: 10px 5px;
  background-color: #546045; /*Light Green*/
}


