/*css for featured*/
div#featured {
  background-color: #333; /*Black*/
  height: 275px;
  width: 94.5%;
  margin: 10px auto;
  padding: 10px;
}
div#featured img{
  float:right;
  height: 250px; /*needed for div background color*/
}
div#featured img, div#featured div{
  display: inline-block; 
  padding: 10px 20px;
}
div#featured div{
  width: 50%;
}

/*css for event boxes*/
div.event{
  width: 45.8%; /*Centered with margin*/
  margin: 1% 2%;
  padding: 0;
  display: inline-block;
}
div.event img{
  width: 100%;
}
div.event p, div.event h2{
  margin: 0;
  padding: 10px 5px;
  background-color: #333; /*Black*/
}
