/*css for featured location image bar*/
div#featured{
	margin: auto;
	margin-top: 34px;
	background-color: #333; /*Black*/
	width: 95.6%;
}
div.sidebar{
	float: left;
	width: 23%;
}
div#featured ul{
	color: #ddd;
	margin: 0;
	padding: 0;
	line-height: 1.7em;
	list-style-type: none;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
.sidebar h3 {
	text-align: center;
	font-size: 1em;
}
div.sidebar#second {
	float: right;
}
div#featured p {
	margin: auto;
	padding: 1%;
	width: 85%;
}
div#featured h2 {
	text-align: center;
}
div#featured img{
	padding: 0 2.6%; 
	background-color: #833d46; /*Light Red*/
	margin: 0 1% -6px 1%; /*The -6px removes the extra black space below the image*/
	width: 45%;
}

/*css for supporting images*/
div.subImage{
	width: 46.5%;
	margin: 0 2.2% 2.2%;
	padding: 0;
	display: inline-block;
}
div.subImage h2{
	text-align: center;
	border-bottom: solid 2px;
	width: 100%;
	margin:  0.9% 0;
	margin: 3% 0 .9% 0;
	border-color: #caa483; /*Tan*/
}
div.subImage p{
	margin: 0;
	padding: 10px 5px;
	background-color: #333; /*Black*/
}
div.subImage img{
	width: 100%;
	padding: 0;
	margin:0 0 -6px 0;
}
div#lastSubImage {
	margin-left: 0%;
}