/*css for featured location image bar*/
div.main h1{
  text-align: center;
}
div#featured{
  margin: auto;
  height: auto;
  background-color: #333; /*Black*/
  width: 94%;
  display: flex;
}
div#featured img{
  display: block;
   padding: 0 6%; /*Temporary the image is not centered*/
   padding-bottom: 0px;
   margin-bottom: 0px;
  background-color: #833d46;
  margin: 0 auto;
  width: auto;
  min-height: 420px;
  
}

/*css for supporting images*/
div.subImage{
  width: 43.7%;
  display: inline-block;
  padding: 0 3%;
}
div.subImage h2{
  text-align: center;
  border-bottom: solid 2px;
  border-color: #caa483; /*Tan*/
  color: #caa483; /*Tan*/
}
div.subImage p{
  padding: 10px 5px;
  margin: 0 0 15px 0;
  background-color: #333; /*Black*/
  color: #caa483; /*Tan*/
}
div.subImage img{
  width: 100%;
}