/*css for hero image*/
img#hero{
  width: 100%;
  height: 500px;
}
div#heroText{
  background-color: #333; /*Black*/
  width: 25%;
  height: 120px;
  position: absolute;
  left: 71.6%; /*relative to page left side of div*/
  top: 450px; /*relative to entire page length from top*/
  padding: 10px;
}

/*css for featured location image bar*/
div.main h1{
  text-align: center;
}
div#featured{
  margin: auto;
  height: 400px; /*maches containing image*/
  background-color: #333; /*Black*/
}
div#featured img{
  padding: 0 25%; /*Temporary the image is not centered*/
  width: 50%;
  height: 400px;
}

/*css for supporting images*/
div.subImage{
  width: 43.7%;
  display: inline-block;
  padding: 0 3%;
}
div.subImage h2{
  text-align: center;
  border-bottom: solid 2px;
  border-color: #caa483; /*Tan*/
  color: #caa483; /*Tan*/
}
div.subImage p{
  padding: 10px 5px;
  margin: 0 0 15px 0;
  background-color: #333; /*Black*/
  color: #caa483; /*Tan*/
}
div.subImage img{
  width: 100%
}